dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv*
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work
Session.vim
Sessionx.vim
.DS_Store
*.swp
*.keter
*.sqlite3
yesod-devel
Carnap-Server/SecureStrings.hs
Carnap-Server/assignments
Carnap-Server/book/cache
Carnap-Server/fay/Fay/Yesod.hs
Carnap-Server/static/tmp/
Carnap-Server/static/faygen*
client_session_key.aes
