dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv*
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work
Session.vim
Sessionx.vim
.DS_Store
*.swp
*.keter
*.sqlite3
*.lock
yesod-devel
Carnap-Server/app/SecureStrings.hs
dataroot
Carnap-Book/cache
Carnap-Server/static/tmp/
Carnap-Server/static/faygen*
Carnap-GHCJS/test/testpages/
client_session_key.aes

dist-newstyle/
TAGS
tags
client-build.done
