.exercise {
    display:inline-block;
    min-width:100%;
    position:relative;
    padding:10pt;
    padding-top:15pt;
    margin:10pt;
    min-width:100%;
    border: solid 1pt #dddddd;
}

.exercise > span:first-child {
    position: absolute;
    color: #aaaaaa;
    top:-13px;
    background-color: #fffff8;
    padding:5px;
}

/* FIXME this need to be narrower, and to wrap, for mobile. */
.translate input {
    width: 400pt;
}

/* This is what will need to be the locus of responsive resizing */
[data-carnap-type="proofchecker"] {
    display:inline-block;
    vertical-align:top;
    position: relative;
    width:500px;
    min-height:110pt;
    margin-bottom:50pt;
    line-height:1.2em;
    font-size:10pt;
}

.numbering {
    display:inline-block;
    white-space:pre;
}

/* probably need a subordinate div containing this and the feedback to fix the :hover issue on iOS*/
[data-carnap-type="proofchecker"] > textarea {
    position: relative;
    width: 100%;
    /* height: 100%; */
    font-size:10pt;
    top:35px;
    padding:20px;
    min-height:150px;
    padding-left:50pt;
    padding-right:30pt;
    font-family: monospace;
    line-height:1.2em;
    resize: vertical;
    white-space:pre;
    overflow-wrap:normal;
    word-wrap:normal;
}

[data-carnap-type="proofchecker"] > button {
    display:block;
    position: absolute;
    bottom:-60px;
}

[data-carnap-type="proofchecker"] .output{
    position: absolute;
    margin-top:36px;
    top:0px;
    bottom:-30px;
    width:100%;
    padding:21px;
    pointer-events: none;
    font-family: monospace;
    font-size:10pt;
    overflow:hidden;
}

.proofFeedback {
    font-size:10pt;
    position:absolute;
    right:10px;
    top:13pt;
    width:20px;
    pointer-events: auto;
}

/* the div containing the feedback mark */
.proofFeedback li > div {
    width:10px;
}

/* The div containing feedback */

.manualPopper {
    position:absolute;
    right:10px;
    bottom:-20px;
}

.popper {
    font-size:8pt;
    background:white;
    width:200pt;
    border:1pt solid black;
    padding:5pt;
    color:black;
}

.details {
    padding-top:5px;
    margin-top:5px;
    border-top:1px dashed gray;
}

.equations {
    padding:5px;
    margin:5px;
    border:1px solid gray;
}


/* when you hover over the div containing the feedback mark */
.proofFeedback li > div:hover {
    color:red;
}

.proofFeedback .equations {
    padding:10px;
    border:1px solid gray;
}

.proofFeedback ul {
    list-style-type:none;
    padding:0pt;
    margin:0pt;
}

.proofFeedback li {
    padding:0pt;
    font-family: monospace;
    font-size:10pt;
}

.proofDisplay {
    display:inline-block;
    z-index:-1;
    vertical-align:top;
    padding-left:60px;
    position:relative;
    min-width:240pt;
    padding-bottom:5pt;
    overflow:auto;
    max-height:100%
}

.proofDisplay .subproof {
    border-left:1px solid black;
}

.proofDisplay div > span:first-child {
    position:absolute;
    left:20pt;
}

.proofDisplay .subproof .subproof {
    margin-left: 5pt;
}

.proofDisplay .subproof div > span:nth-child(2){
    padding-left: 5pt;
}

.montegueDisplay span.rule {
    float:right;
    padding-left:10px;
}

.montegueDisplay .qed div > span:nth-child(2) {
    padding-left:5px;
}

.montegueDisplay .qed div {
    border-left:1px solid black;
    border-bottom:1px solid black;
    height:25px;
}

.montegueDisplay .subproof > div.qed {
    padding-left: 5pt;
}

.fitchDisplay div span:nth-child(3) {
    float: right;
}

.fitchDisplay .subproof {
    margin-top:5px;
}

.fitchDisplay .subproof > div:first-child {
    border-bottom:1px solid black;
}

[data-carnap-type="proofchecker"] .success {
    background: #CCFFCC;
}

[data-carnap-type="proofchecker"] .goal {
    width:400px;
    position:absolute;
    padding:5pt;
    margin:5pt;
    top:-10px;
}

[data-carnap-type="proofchecker"] .proofSpinner {
    display:none;
}

[data-carnap-type="proofchecker"] .working .proofSpinner {
    display:inline-block;
    position:absolute;
    right:10px;
    top:-1px;
}

.ttdisplay {
    padding-left:10px;
}

.ttdisplay table {
    border-collapse:collapse;
}

.ttdisplay th {
    border-bottom: 1px solid black;
}

.ttdisplay td {
    text-align:center;
}

[data-carnap-type="truthtable"] table{
    width:auto;
    border-collapse:collapse;
    margin:20px;
}

[data-carnap-type="truthtable"] select {
    padding:0px;
    margin:0px;
}


[data-carnap-type="truthtable"] th {
    border-bottom:solid black 1px;
}

[data-carnap-type="truthtable"] .valtd {
    width:20px;
    text-align:center;
}

[data-carnap-type="truthtable"] .completeTT {
    background: #CCFFCC;
}

.ttthSep, .tttdSep {
    border-left:1px solid black;
    padding:2px;
}

[data-carnap-options~="fonts"] textarea {
    text-rendering:optimizeLegibility;
    font-family:"Fira Logic", monospace;
}
