.tree {
    font-size:1.4rem;
    padding:10pt;
    overflow:auto;
    min-width: 600pt;
}

.tree > ul { width:100%; }

.tree > ul > li { width:100% !important; }

.tree ul li { width:50%; }

.tree ul li:only-child { width:100%; }

.exercise {
    position:relative;
    padding:10pt;
    padding-top:15pt;
    margin:10pt;
    border: solid 1pt #dddddd;
    }

.exercise > span:first-child {
    position: absolute;
    color: #aaaaaa;
    top:-13px;
    background-color: #fffff8;
    padding:5px;
}

.translate input {
    width: 400pt;
}

/* This is what will need to be the locus of responsive resizing */
.proofchecker {
    display:inline-block;
    vertical-align:top;
    position: relative;
    width:500px;
    min-height:110pt;
    margin-bottom:50pt;
    line-height:1.2em;
    font-size:10pt;
}

.numbering {
    display:inline-block;
}

/* probably need a subordinate div containing this and the feedback to fix the :hover issue on iOS*/
.proofchecker > textarea {
    position: relative;
    width: 100%;
    height: 100%;
    font-size:10pt;
    top:35px;
    padding:20px;
    min-height:150px;
    padding-left:30pt;
    padding-right:30pt;
    font-family: monospace;
    line-height:1.2em;
    resize: vertical;
    white-space:pre;
    overflow-wrap:normal;
    word-wrap:normal;
}

.proofchecker > button {
    display:block;
    position: absolute;
    bottom:-60px;
}

.proofchecker .output{
    position: absolute;
    margin-top:36px;
    top:0px;
    bottom:-30px;
    width:200%;
    padding:21px;
    pointer-events: none;
    font-family: monospace;
    font-size:10pt;
    overflow:hidden;
}

.proofFeedback {
    font-size:10pt;
    position:absolute;
    right:51%;
    top:13pt;
    width:20px;
    pointer-events: auto;
}

/* the div that pops open to catch your hover*/
.proofFeedback li > div > div {
    position:absolute;
    left:10pt;
    height:150px;
    z-index:1;
    width:200px;
}

/* The div containing feedback */
.proofFeedback li > div > div > div {
    font-size:8pt;
    position:absolute;
    top:-20px;
    background:white;
    width:200pt;
    border:1pt solid black;
    padding:5pt;
    z-index:1;
    max-height:125px;
    overflow-y:scroll;
    color:black;
}

.proofFeedback li > div div {
    visibility:hidden;
    display:none;
}

/* when you hover over the div containing the feedback mark */
.proofFeedback li > div:hover {
    color:red;
}

.proofFeedback li > div:hover > div {
    visibility:visible;
    display:block;
}

.proofFeedback li > div:hover > div > div {
    visibility:visible;
    display:block;
}

.proofFeedback li > div:hover > div > div > div {
    visibility:visible;
    display:block;
}

.proofFeedback li > div:hover > div > div > div:hover > div {
    border-top:1px solid gray;
}

.proofFeedback li > div:hover > div > div > div:hover div {
    visibility:visible;
    display:block;
    color:black;
    line-height:1.2em;
    font-size:8pt;
    padding-top:5px;
}

.proofFeedback .equations {
    padding:10px;
    border:1px solid gray;
}

.proofFeedback li > div:hover > div > div > div:hover {
    color:white;
    line-height:5px;
    font-size:0pt;
} 

.proofFeedback ul {
    list-style-type:none;
    padding:0pt;
    margin:0pt;
}

.proofFeedback li {
    padding:0pt;
    font-family: monospace;
    font-size:10pt;
}

.proofDisplay {
    display:inline-block;
    vertical-align:top;
    padding-left:60px;
    position:relative;
    width:240pt;
    padding-bottom:5pt;
    overflow:auto;
    max-height:100%
}

.proofDisplay .subproof {
    border-left:1px solid black;
    margin-top:5px;
}

.proofDisplay div > span:first-child {
    position:absolute;
    left:20pt;
}

.proofDisplay .subproof div > span:nth-child(2){
    padding-left: 5pt;
}

.proofDisplay div span:nth-child(3) {
    float: right;
}

.proofDisplay .subproof > div:first-child {
    border-bottom:1px solid black;
}

.proofDisplay .subproof .subproof {
    margin-left: 5pt;
}

.proofchecker .success {
    background: #CCFFCC;
}

.proofchecker .goal {
    width:400px;
    position:absolute;
    padding:5pt;
    margin:5pt;
    top:-10px;
}

.ttdisplay {
    padding-left:10px;
}

.ttdisplay table {
    border-collapse:collapse;
}

.ttdisplay th {
    border-bottom: 1px solid black;
}

.ttdisplay td {
    text-align:center;
}

.truthtable table{
    width:auto;
    border-collapse:collapse;
    margin:20px;
}

.truthtable select {
    padding:0px;
    margin:0px;
}

.truthtable th {
    border-bottom:solid black 1px;
}

.truthtable .valtd {
    width:20px;
    text-align:center;
}

.truthtable .completeTT {
    background: #CCFFCC;
}

.ttthSep, .tttdSep {
    border-left:1px solid black;
    padding:2px;
}
