.target {color:red;}

.tree {font-size:14pt;}

.tree ul {
	padding-top: 20px; 
    position: relative;
    transform:scale(.9);
    width:130%;
    overflow:visible;
}

.tree > ul {
	padding: 0px; 
	margin: 0px; 
	margin-left: 20px; 
}

.tree li {
	float: left; 
    text-align: center;
    overflow:visible;
    white-space:nowrap;
	list-style-type: none;
	position: relative;
	padding: 20px 15px 0px 5px;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 40%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}
