div.algorithm {
    background: #dfffff;
    padding: 1pt 1pt 15pt 15pt ;
}

div.tree {
    font-size:1.4rem;
    padding:10pt;
    overflow:auto;
    min-width: 600pt;
}

div.tree > ul { width:100%; }

div.tree > ul > li { width:100% !important; }

div.tree ul li { width:50%; }

div.tree ul li:only-child { width:100%; }

div.synchecker {
    padding:10pt;
    margin-top: 5pt;
    border: solid 1pt #dddddd;
    }
